<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!-- console is a special appender for the logger CONSOLE
      that allows selectively logging INFO level messages to the console.
      Appender console and appender consolefiltered must have non-intersecting
      level filters or messages will appear on the console once for each
      overlapping appender. -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
            value="%d %p %m%n"/>
        </layout>
    </appender>

    <root>
        <priority value="info" />
        <appender-ref ref="console"/>
    </root>
</log4j:configuration>
