td.nbr {width:20px;height:40px;color:orange;text-align:center;vertical-align:middle;font-size:2em;font-weight:bold;}
td.nbrtitle {padding-left:10px;font-weight:bold;font-size:1.2em;}
ul { padding-left:25px; }
pre { font-size:9px;font-family:Lucida Console, Courier New, Courier, monospace;border:1px solid #999;background-color:#eee;padding:3px;-moz-user-select:text; }
hr { border:0px;border-top:1px solid #999; }
.pnb {height:23px;color:#fff;font-weight:bold;padding:4px;cursor:pointer;}
.pnb.next {background:url(../img/btnr.png) no-repeat right top;padding-left:12px;padding-right:20px;float:right;}
.pnb.prev {background:url(../img/btnl.png) no-repeat left top;padding-left:20px;padding-right:12px;float:left;}

