/.classpath
/.depcache
/.project
/.cproject
/.settings
/hs_err_pid*.log
/last_junit_suite.log
/*.sublime-project
/*.sublime-workspace
/.tags
/.DS_Store
.DS_Store
.cache/
.pydevproject
*.pyc
*.swp
*~
*runapp*.py
*.log
/build.local
buildstring.txt
host*+0000.txt
license.xml
voltdb_crash*
bundles/
obj/
groovyout/
debugoutput/
statement-plans/
catalog-report.html
voltdbroot/
log/
voltipc.xcodeproj/
tests/scripts/plannertester/reports/
tests/test_apps/*/*.jar
doc/tutorials/*/*.jar
doc/tutorials/auction/csvloader_*.csv
src/frontend/org/voltdb/compiler/projectfile/
src/frontend/org/voltdb/compiler/deploymentfile/
doc/tutorials/*/*.jar
/src/ee/.cproject
/src/ee/.project
/src/ee/.settings/
/src/catgen/out
/src/ee/catalog/*
/src/ee/tags
/src/ee/org_voltdb_jni_ExecutionEngine.h
/src/ee/org_voltcore_utils_DBBPool.h
/src/frontend/org/voltdb/catalog/*.java
/voltdb/libvoltdb*.so
/voltdb/libvoltdb*.dylib
/voltdb/libcatalog*.so
/voltdb/libcatalog*.dylib
/voltdb/voltdb*.jar
/examples/*/*.jar
/plannerlog.txt
/README.voltadmin
/testobjects/
/tests/ee/.cproject
/tests/ee/.project
/tests/ee/.settings/
/tools/voltify.venv
/src/ee/org_voltdb_utils_PosixAdvise.h
/src/ee/org_voltdb_utils_DirectIoFileChannel.h
/src/frontend/org/voltcore/utils/DBBPool.java
/src/frontend/org/voltcore/utils/.flagfile
/tests/sqlcmd/scripts/**/*.outdiffs
out
bundles
*.lcbak
.gradle/*
build.gradle
/src/frontend/org/voltdb/.gradle/*
/build/lib/voltdb.war
/tests/geb/vmc/.nb-gradle/
tools/meshmonitor/build/
tools/meshmonitor/dist/
tools/ee/ee_auto_generated_unit_tests

# IntelliJ excluded files.
.idea/workspace.xml
.idea/tasks.xml
.idea/modules.xml

