/.classpath
/.depcache
/.project
/.settings
/last_junit_suite.log
*.pyc
*.swp
buildstring.txt
/plannerlog.txt
obj/
/src/catgen/out
/src/ee/catalog/*
/src/ee/tags
/src/ee/org_voltdb_jni_ExecutionEngine.h
/src/ee/org_voltdb_utils_DBBPool.h
/src/frontend/org/voltdb/catalog/*.java
/voltdb/libvoltdb*.so
/voltdb/voltdb*.jar
/.DS_Store
debugoutput/
