/.classpath
/.depcache
/.project
/.cproject
/.settings
/hs_err_pid*.log
/last_junit_suite.log
/*.sublime-project
/*.sublime-workspace
/.tags
/.DS_Store
.DS_Store
.cache/
.pydevproject
*.pyc
*.swp
*runapp*.py
*.log
/build.local
buildstring.txt
host*+0000.txt
license.xml
voltdb_crash*
bundles/
obj/
groovyout/
debugoutput/
statement-plans/
catalog-report.html
voltdbroot/
log/
voltipc.xcodeproj/
tests/test_apps/*/*.jar
doc/tutorials/*/*.jar
doc/tutorials/auction/csvloader_*.csv
src/frontend/org/voltdb/compiler/projectfile/
src/frontend/org/voltdb/compiler/deploymentfile/
doc/tutorials/*/*.jar
/src/ee/.cproject
/src/ee/.project
/src/ee/.settings/
/src/catgen/out
/src/ee/catalog/*
/src/ee/tags
/src/ee/org_voltdb_jni_ExecutionEngine.h
/src/ee/org_voltcore_utils_DBBPool.h
/src/frontend/org/voltdb/catalog/*.java
/voltdb/libvoltdb*.so
/voltdb/libvoltdb*.dylib
/voltdb/voltdb*.jar
/examples/*/*.jar
/plannerlog.txt
/README.voltadmin
/testobjects/
/tests/ee/.cproject
/tests/ee/.project
/tests/ee/.settings/
/tools/voltify.venv
/src/ee/org_voltdb_utils_PosixAdvise.h
/src/frontend/org/voltcore/utils/DBBPool.java
/src/frontend/org/voltcore/utils/.flagfile
/tests/sqlcmd/scripts/**/*.outdiffs
out
bundles
*.lcbak
.gradle/*
build.gradle
/lib/python/vdm/server/nohup.out/*
/lib/python/vdm/tests/geb_vdm/.gradle/*
/lib/python/vdm/tests/geb_vdm/build/*
/lib/python/vdm/tests/server/test_reports/*
/src/frontend/org/voltdb/.gradle/*
/build/lib/voltdb.war
/tests/geb/vmc/.nb-gradle/
/lib/python/vdm/tests/geb_vdm/.nb-gradle/
tools/meshmonitor/build/
tools/meshmonitor/dist/

# These are Linux crufty files.  The list comes from Github.

*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# These are emacs cruft files.  The list comes from Github.
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# These are Vim crufty stuff file names.  The list comes from github.

# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

# Session
Session.vim

# Temporary
.netrwhist
*~
# Auto-generated tag files
tags

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/
cmake-build-release/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
