.nav-elem {
    float: left;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 20px;

    display: inline-block;
    color: #000;
    background: #fff;
    background: rgba(255,255,255,.5);
    -webkit-border-radius: 10px;
    border-radius: 10px;

    padding: 9px 18px;
    font-family: 'Saira', sans-serif;
}

.nav-elem.active {
    background: rgba(0, 0, 0, .5);
    color: #fff;
    text-decoration: none;
}

.elem-right {
    float: right!important;
    margin-right: 150px;
}

.nav-img {
    margin-left: 20px;
    margin-top: 15px;

    float: left;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 20px;
}

.wrapper1 {
    width: 100%;
    height: 100%;
    /* background: aqua; */
    margin: auto;
    font-size: 150%;
}

.wrapper1 div#one {
    width: 60%;
    height: 100%;
    /* background: red; */
    position: absolute;
    left: 0;
    text-align: center;
}

@media screen and (max-width: 1200px) { .wrapper1 { font-size: 100%; } }
@media screen and  (max-width: 1000px) { .wrapper1 { font-size: 90%; } }
@media screen and (max-width: 767px) { .wrapper1 { font-size: 80%; } }
@media screen and (max-width: 568px) { .wrapper1 { font-size: 70%; } }
@media screen and (max-width: 480px) { .wrapper1 { font-size: 35%; } }
@media screen and (max-width: 320px) { .wrapper1 { font-size: 25%; } }

.wrapper1 div#two {
    /* margin-left: 15%; */
    height: 100%;
    /* background: white; */
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color: #000;
    position: absolute;
    left: 60%;
}

.chart-container {
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-left: 50px;
}

.chart-1-title {
    position: absolute;
    z-index: 10000;
    font-size: 4em;
    width: 40%;
    margin-left: 50%;
    margin-right: 90%;
    margin-top: 50px;
    font-family: 'Anton', sans-serif;
}

.chart-2-container {
    width: 200px;
    height: 200px;
    margin-top: 100px;
    margin-left: 100px;
}

.wrapper-odometer-2 {
    width: 100%;
    margin-top: 200px;
}

.wrapper-odometer-2 div:first-child {
    display: table;
    margin: 0 auto;
}

.frauds-text {
    text-align: center;
    width: 100%;
    margin-top: 100px;
    color: #e8312e;
    font-family: 'Orbitron', sans-serif;
}

@media screen and (max-width: 1200px) { .frauds-wrapper { font-size: 100%; } }
@media screen and  (max-width: 1000px) { .frauds-wrapper { font-size: 90%; } }
@media screen and (max-width: 767px) { .frauds-wrapper { font-size: 80%; } }
@media screen and (max-width: 568px) { .frauds-wrapper { font-size: 70%; } }
@media screen and (max-width: 480px) { .frauds-wrapper { font-size: 35%; } }
@media screen and (max-width: 320px) { .frauds-wrapper { font-size: 25%; } }

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Saira');