<?xml version="1.0"?>
<config>
	<schema>
	    <table name="joinREP"        prefix="col" columns="5"  variations="100"                     />
	    <table name="joinPART"       prefix="col" columns="5"  variations="100" partitioncolumn="0" />
	    <table name="projectionREP"  prefix="col" columns="20"                                      />
	    <table name="projectionPART" prefix="col" columns="20"                  partitioncolumn="0" />
	</schema>
	<tests>
		<test type="join"          table="joinREP" levels="3" />
		<test type="join"          table="joinREP" levels="4" />
		<test type="join"          table="joinREP" levels="5" />

		<test type="joinstar"      table="joinREP" levels="3" />
		<test type="joinstar"      table="joinREP" levels="4" />
		<test type="joinstar"      table="joinREP" levels="5" />

		<test type="projection"    table="projectionREP" />

        <!-- test type joinsp also explicitly references table joinPART_1 -->
		<test type="joinsp"        table="joinREP" levels="3" />
		<test type="joinsp"        table="joinREP" levels="4" />
		<test type="joinsp"        table="joinREP" levels="5" />

		<test type="joinstarsp"    table="joinPART" levels="3" />
		<test type="joinstarsp"    table="joinPART" levels="4" />
		<test type="joinstarsp"    table="joinPART" levels="5" />

		<test type="projectionsp"  table="projectionPART" />

        <!-- test type joinmp also explicitly references table joinPART_1 -->
		<test type="joinmp"        table="joinREP" levels="3" />
		<test type="joinmp"        table="joinREP" levels="4" />
		<test type="joinmp"        table="joinREP" levels="5" />

		<test type="joinstarmp"    table="joinPART" levels="3" />
		<test type="joinstarmp"    table="joinPART" levels="4" />
		<test type="joinstarmp"    table="joinPART" levels="5" />

		<test type="projectionmp"  table="projectionPART" />
	</tests>
</config>
