table.tablesorter {
	font-family:arial;
	background-color: #eee;
	margin-bottom:5px;
	font-size: 8pt;
	text-align: left;
}
table.tablesorter th {
	border: 1px solid #ccc;
	font-size: 8pt;
	padding: 4px;
	padding-right: 24px;
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter td {
	color: #222;
	padding: 4px;
	background-color: #fff;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#f9f9f9;
}
table.tablesorter .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter .headerSortDown {
	background-image: url(desc.gif);
}

table.tablesorter .sorttable_sorted_reverse {
	background-image: url(asc.gif);
}
table.tablesorter .sorttable_sorted {
	background-image: url(desc.gif);
}

table.tablesorter .headerSortDown, table.tablesorter .headerSortUp, table.tablesorter .sorttable_sorted, table.tablesorter .sorttable_sorted_reverse {
background-color: #999;
}
