.hidden { display:none;}
.toolbar { position:absolute;left:0;right:0;top:0;height:34px;z-index:10;min-width:700px; }
.toolbar div { float:left; }
.toolbar button { float:left;height:25px; }

.toolbar label.object-explorer { width:24px;height:24px; display:block;}
.toolbar label.object-explorer span { background: url(icons/icon.object.explorer.png) no-repeat 4px 4px scroll;}
#new-query span { background: url(icons/NewDocumentHS.png) no-repeat 4px 4px scroll; }
#execute-query span { background: url(icons/icon.execute.png) no-repeat 4px 4px scroll; }
#new-monitor span { background: url(icons/icon.performance.png) no-repeat 4px 4px scroll; }
.toolbar .separator { float:left;height:25px;border-right:1px solid #999;margin-right:5px;width:5px; }

.canvas { position:absolute;left:0px;top:34px;bottom:0px;right:0px;z-index:1; background-color:#ccc;min-width:700px; }
.sidebar { position:absolute;left:0px;width:250px;top:0px;bottom:0px;z-index:2; background-color:#fff;border:1px solid #666;overflow:hidden; }
.sidebar li { white-space: nowrap; }
.sidebar .header { position: absolute;top:0px;left:0px;right:0px;height:16px;background-color:#8c8c8c;color:white;padding:2px;padding-left:5px;font-weight:bold; }
.sidebar .content { position: absolute;bottom:0px;left:0px;right:0px;top:20px;border:1px inset #999;overflow:auto; }
.sidebar .header span.close { float:right;padding-left:3px;padding-right:3px;cursor:pointer; }
.sidebar .header span.connect { float:right;margin-right:10px; cursor:pointer;padding-left:5px;padding-right:5px;text-decoration:underline;  }
.workspace { position: absolute; left: 255px; right: 0px; top: 0px; bottom: 0px; z-index: 1; background-color:#999;border-top:1px solid #888;border-left:1px solid #888; }
.workspace.nosidebar { left:0px }
.body { background-color:#000000;font-family: Verdana,Arial,sans-serif;font-size:62.5%;-moz-user-select: none; }
.querytab, .monitortab { position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;overflow:hidden; }
.querybar, .chartbar { position: absolute; left: 0px; right: 0px; top: 0px; bottom: 223px; z-index: 1; background-color:#fff;border:1px solid #999;border-top-width:0px; }
.querybar div.wrapper { position: absolute; left: 5px; right: 0px; top: 5px;bottom:1px; }
.resultbar, .tablebar { position: absolute; left: 0px; right: 0px; bottom: 1px; height:200px; z-index: 1; background-color:#fff;border:1px solid #999; }
.resultbar div.wrapper { position: absolute; left: 1px; right: 0px; top: 1px;bottom:1px; }
.resultbar div.gridwrapper { overflow:auto; }
.tablebar { overflow:auto; }
div.wrapper textarea { border:none; width:100%;height:100%;resize:none;white-space:nowrap;font-family:Lucida Console, Courier New, Courier, monospace; }

.chartbar .top { position:absolute; left:0px; top:0px; right:0px; bottom:0px; }
.chartbar .top .leftchart { position:absolute;left:0px;top:0px;bottom:0px;width:50%;}
.chartbar .top .leftchart .graph { position:absolute;left:5px;right:25px;top:25px;bottom:5px; }
.chartbar .top .rightchart { position:absolute;right:0px;top:0px;bottom:0px;width:50%;}
.chartbar .top .rightchart .graph { position:absolute;left:5px;right:25px;top:25px;bottom:5px;}
.chartbar .top .chartitemselector { position:absolute;left:0px;top:0px;height:25px;right:0px;padding-top:5px;padding-right:50px;}
select.chartitem { font-size:1.3em; float:right; }
.chartbar div.jqplot-table-legend-swatch { border-width:3px; }
.statstable { width:100%; }
.workspacestatusbar { position: absolute; left: 0px; right: 0px; bottom: 205px; height: 18px; z-index: 10;font-size:9px;font-weight:normal;padding-left:3px;overflow:hidden; }
.workspacestatusbar select { float:left; }
.workspacestatusbar span.status { float:left;padding:3px;padding-left:8px; }
.workspacestatusbar .monitoritemlabel { padding:1px;margin:1px;float:left;width:20px;text-align: right; }
.workspacestatusbar .monitoritem { border:1px inset #d3d3d3;padding:1px;margin:1px;float:left;width:90px;text-align:right;background-color: #ddd; }
.workspacestatusbar span.link { font-weight: bold; text-decoration: underline; cursor: pointer; display:block; float:left; margin:3px; margin-left:10px; }
.workspacestatusbar span.status.error { color:red; }

.noborder { border:none;-moz-border-radius:0px;-webkit-border-radius:0px;border-radius:0px; }
#logo { margin:7px; float:left;sbackground-color:white; }

.sp_track {width:205px;height:100%;position:absolute;left:253px;top:0px;cursor:col-resize;border:0px;border-radius:0px; }
.sp_track .ui-slider-handle { width:3px; height:100%;cursor:col-resize;font-size:1px;border:none;border-radius:0px; }
  .sp_track .ui-slider, .sp_track.ui-slider-horizontal, .sp_track.ui-widget, .sp_track.ui-widget-content, .sp_track.ui-corner-all, .sp_track2 .ui-slider, .sp_track2.ui-slider-horizontal, .sp_track2.ui-widget, .sp_track2.ui-widget-content, .sp_track2.ui-corner-all, .sp_track3 .ui-slider, .sp_track3.ui-slider-horizontal, .sp_track3.ui-widget, .sp_track3.ui-widget-content, .sp_track3.ui-corner-all
{
 margin:0px;
 padding:0px;
 background:transparent;
 border-radius:0px;
}
.sp_track_h.ui-state-default, .sp_track_h.ui-corner-all, .sp_track_h2.ui-state-default, .sp_track_h2.ui-corner-all, .sp_track_h3.ui-state-default, .sp_track_h3.ui-corner-all
{
 margin:0px;
 padding:0px;
 background:transparent;
 border-radius:0px;
}

.sp_track2 .ui-slider-handle { width:100%; height:3px;cursor:row-resize;font-size:1px;border:none;border-radius:0px;background-color:#ccc;z-Index:10 }
.sp_track2 { left:0px;width:100%;height:405px;position:absolute;bottom:52px;border:0px;border-radius:0px; }
.sp_track3 .ui-slider-handle { width:100%; height:3px;cursor:row-resize;font-size:1px;border:none;border-radius:0px;background-color:#ccc;z-Index:10 }
.sp_track3 { left:0px;width:100%;height:405px;position:absolute;bottom:52px;border:0px;border-radius:0px; }


#worktabs { position:absolute;left:2px;right:0px;top:0px;bottom:0px;margin-top:0px;background:transparent; }
#worktabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
#worktabs div.ui-tabs-panel { position:absolute;left:0px;right:0px;top:34px;bottom:0px;overflow:hidden;border:none;-moz-border-radius:0px;-webkit-border-radius:0px;border-radius:0px;}
#add_tab { cursor: pointer; }

#dbbrowser { ssmargin-top:4px; }
.treeview li > span { background: no-repeat scroll 2px 0px; display: block; padding-left: 22px;height:14px;padding-top:2px; }
.treeview li.database > span { background-image: url(icons/icon.database.png); }
.treeview li.database > span > span { padding-left:2px;padding-right:2px;border:1px dotted transparent; }
.treeview li.folder > span { background-image: url(icons/icon.folder.png); }
.treeview li.table > span { background-image: url(icons/icon.table.png); }
.treeview li.view > span { background-image: url(icons/icon.view.png); }
.treeview li.column > span { background-image: url(icons/icon.column.png); }
.treeview li.key > span { background-image: url(icons/icon.key.png); }
.treeview li.index > span { background-image: url(icons/icon.index.png); }
.treeview li.procedure > span { background-image: url(icons/icon.procedure.png); }
.treeview li.paramin > span { background-image: url(icons/icon.param.in.png); }
.treeview li.paramreturn > span { background-image: url(icons/icon.param.return.png); }
.treeview li.type > span { background-image: url(icons/icon.type.png); }
.treeview li.database.selected > span > span { background-color: #ddd; border:1px dotted #999; }


#connect-dialog input.text, #connect-dialog input.password { margin:3px; padding: .4em; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }
#connect-dialog td { padding:1px;margin:0px; }
#connect-dialog table { border-collapse:collapse;padding:0px; }
.ui-dialog-buttonset.connect-dialog { width:100%; }
.ui-dialog-buttonset.connect-dialog button { float:right; }
.ui-dialog-buttonset.connect-dialog button.fl { float:left; }

#about-dialog { overflow:hidden; }
#about-dialog textarea { border:none;width:100%; height:195px;resize:none;white-space:nowrap;font-family:Lucida Console, Courier New, Courier, monospace; }
#about-dialog iframe { border:none;width:100%; height:195px;resize:none;white-space:nowrap; }
.ui-widget {font-size:10px;}
