table.tablesorter {
	font-family:arial;
	background-color: #eee;
	margin-bottom:5px;
	font-size: 8pt;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	border: 1px solid #ccc;
	font-size: 8pt;
	padding: 4px;
	padding-right: 24px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #222;
	padding: 4px;
	background-color: #fff;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#f9f9f9;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #999;
}
