<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!-- console is a special appender for the logger CONSOLE
      that allows selectively logging INFO level messages to the console.
      Appender console and appender consolefiltered must have non-intersecting
      level filters or messages will appear on the console once for each
      overlapping appender. -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
            value="%m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="TRACE"/>
            <param name="levelMax" value="INFO"/>
        </filter>
    </appender>
    <!-- console appender displays log messages with priority > INFO. -->
    <appender name="consolefiltered" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
            value="%p: %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="WARN"/>
            <param name="levelMax" value="FATAL"/>
        </filter>
    </appender>
    <!-- file appender captures all loggers messages. -->
    <appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="log/volt.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d   %-5p [%t] %c: %m%n"/>
        </layout>
    </appender>

    <!-- logger name="AUTH">
        <level value="INFO"/>
    </logger -->

    <!-- logger name="HOST">
        <level value="INFO"/>
    </logger -->

    <!-- logger name="NETWORK">
        <level value="INFO"/>
    </logger -->

    <!-- logger name="SQL">
        <level value="INFO"/>
    </logger -->

    <!-- logger name="COMPILER">
        <level value="INFO"/>
    </logger -->

    <!-- logger name="ADHOC">
        <level value="INFO"/>
    </logger -->

    <!-- logger name="EXPORT">
        <level value="INFO"/>
    </logger -->

    <!-- logger name="IV2TRACE">
        <level value="TRACE"/>
    </logger -->

    <!-- logger name="IV2QUEUETRACE">
        <level value="TRACE"/>
    </logger -->

    <!-- logger name="TM">
        <level value="INFO"/>
    </logger -->

    <!-- logger name="REJOIN">
        <level value="INFO"/>
    </logger -->

    <!-- logger name="SNAPSHOT">
        <level value="INFO"/>
    </logger -->

    <!-- logger name="GC">
        <level value="INFO"/>
    </logger -->

    <!-- Always let dragent to write to the console. -->
    <logger name="DRAGENT">
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </logger>

    <!-- Always let dragent to write to the console. -->
    <logger name="DRSTATS">
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </logger>

    <!-- Always let CSVLoader and its ilk to write to the console. -->
    <logger name="CSVLOADER">
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </logger>

    <!-- Always let the bulk loader and its ilk to write to the console. -->
    <logger name="LOADER">
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </logger>

    <!-- logger to route specific informational messages to the console. -->
    <logger name="CONSOLE">
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </logger>

    <root>
        <priority value="info" />
        <appender-ref ref="file" />
        <appender-ref ref="consolefiltered" />
    </root>
</log4j:configuration>
