/* ==================== CSS Document =======
CSS Document
Developed for : VoltDB Monitor Project
Developed by: Deerwalk UI/UX Team
Date: 4 Aug 2014
Last update on : 12 Dec 2014
=========================================  */
@import url(reset.css);

/*****Global******/
body { font-family:Arial, Helvetica, sans-serif; font-size:12px; background: #dee0e0 !important;}
a { color:#000000}
a:focus, input:focus{ outline:none;}
a, a:hover { text-decoration:none; }
.clear { clear:both;}
.headText {text-indent:30px; position:relative; top:2px}
h1 {font:16px Arial, Helvetica, sans-serif;}

.btn { background-color:#aa1f2f; cursor:pointer; padding:8px 10px; text-align:center; color:#FFFFFF; font:14px Arial, Helvetica, sans-serif; text-shadow:none; text-decoration:none; border-radius:0; border:none;} 
.btn:hover{background-color:#76bd1d; color:#fff;}
.graphOpacity {opacity: 0.5}
h1, h2, h3, h4, h5, h6 {margin:0!important;}


/*****Global Ends******/
/******sprite*************/
.user,
.logout,
.clusterIcon,
li.activeIcon,
li.joiningIcon,
li.missingIcon,
li.alertIcon, 
a.alertIcon,
input.icon-search,
a.save-search, 
a.icon-search,
ul.servers-list li.active, 
ul.servers-list li.joining,
ul.clusterStat, li.activeServerName,
ul.servers-list li.active,
ul.servers-list li.pauseMonitoring, 
ul.servers-list li.joining, a.showServers, a.hideServers, .popup_close, .icon-document, .icon-tables, .icon-procedures, .pref-storedProc, .pref-tables, .pref-graph, .icon-server, #toggleMenu
{ background-image:url(images/voltdb-icon-sprite.png)!important; background-repeat:no-repeat;}
ul.servers-list li.pauseActiveMonitoring{ background-image:url(images/voltdb-icon-sprite.png)!important; background-repeat:no-repeat;background-color: #f0f3f4}

.user {background-position:left -209px; width:25px; height:25px;}
/*.help {background-position:left -1354px; width:25px; height:25px;}*/
.logout {background-position: left  -260px; width:25px; height:25px;}
.clusterIcon {background-position: left top; height:25px; line-height:25px;}
.activeIcon {background-position: left -307px; height:27px; line-height:30px;}
.joiningIcon {background-position: left -357px; height:27px; line-height:30px;}
.missingIcon {background-position: left -407px; height:27px; line-height:30px;}
li.alertIcon{background-position: left -749px; height:27px; line-height:30px;}
a.alertIcon{background-position: left -1315px;}
.showhideIcon {height:25px;}




/******sprite Ends*************/

/******footer bottom*************/
* {
  margin: 0;
}
html, body { height: 100%; }
#wrapper { margin:0; padding:0; width:100%;}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -75px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 75px; 
}
/******footer bottom Ends*************/

/******************Login page*******************/

#loginBox {
   width: 440px;
   background: #fff;
    
	
}
#loginBox .logoLogin { padding:10px 0 10px 90px; border-bottom:1px solid #CCC;
}
#loginBox form {
    margin: 0 auto;
    margin-top: 20px;
}
#loginBox label {
    color: #555;
    display: inline-block;
    margin-left: 18px;
    padding-top: 10px;
    font-size: 13px;
	font-weight:bold;
	width:55px;
}
#loginBox p, #loginBox a {
    font-size: 11px;
    color: #aaa;
    float: right;
    margin-top: -13px;
    margin-right: 20px;
 -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}
#loginBox p a:hover {
    color: #555;
}
#loginBox input {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
}
#loginBox input[type=text],
#loginBox input[type=password] {
    color: #777;
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
	border: 1px solid #c7d0d2;
   
   
	}
#loginBox input[type=text]:hover,
#loginBox input[type=password]:hover {
    border: 1px solid #b6bfc0;
   
}
#loginBox input[type=text]:focus,
#loginBox input[type=password]:focus {
    border: 1px solid #a8c9e4;
    
}
#loginBox .lower {

    background:#F0F0F0;
    width: 100%;
    height: 69px;
    margin-top: 20px;
	box-shadow: inset 0 1px 1px #fff;
    border-top: 1px solid #ccc;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
#loginBox input[type=checkbox] {
    margin-left: 20px;
    margin-top: 30px;
}
#loginBox .check {
    margin-left: 3px;
	font-size: 11px;
    color: #444;
    text-shadow: 0 1px 0 #fff;
}
#loginBox input[type=submit] {
	background:#AA1F2F;
	border:1px solid #AA1F2F;
    float: right;
    margin-right: 30px;
    margin-top: 20px;
    width: 80px;
    height: 30px;
font-size: 14px;
    font-weight: bold;
    color: #fff;
    
    cursor: pointer;
}
#loginBox input[type=submit]:hover {background:#76BD1D;border:1px solid #76BD1D}

/*******************login page ends*************************/





.header { height:70px; background:#FFFFFF;
	 -webkit-box-shadow: 0px 6px 7px -5px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
		  -moz-box-shadow:    0px 6px 7px -5px #ccc;  /* Firefox 3.5 - 3.6 */
		  box-shadow:         0px 6px 7px -5px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
		padding:0 20px; margin-bottom:20px;}
.headLeft { float:left;}
.headLeft .logo { float:left; width:140px; padding:8px 0 0 0}
.headLeft .menu { float:left;}
			ul.nav { margin:0 0 0 50px; padding:0;}
			ul.nav li { margin:0; padding:0; float:left; font:16px/10px Arial, Helvetica, sans-serif; height:40px;  }
			ul.nav li a {display:block; margin:0; padding:23px 20px 0 20px; color:#000000; border-right:1px solid #CCCCCC; height:42px;}
			ul.nav li a:hover, ul.nav li a.active, #nav li.active a  { background:#76bd1d;color:#FFFFFF;}
.headRight { float:right;}
	ul.topRightList {  margin:0; padding:0;}
	ul.topRightList li {  margin:0 0 0 5px; padding:20px 0 0 0; float:left; line-height:12px;}

.userN { position:relative; top:6px; font-size:13px;}

.help { position:relative; top:6px; font-size:13px; }
.help a { text-decoration:none; color:#222222;}
.help a:hover { text-decoration:none; color:#222222;}
.overlay-contentHelp {padding: 20px; border-bottom: 1px solid #dbdbdb; margin-bottom: 15px; 
						min-width:200px; max-width:600px; overflow: auto;}
.overlay-contentHelp p { line-height: 20px!important; font-size: 13px;padding: 0 0 10px;}
.line {border-right: 1px solid #AAAAAA; font-size: 27px; color: #888888; margin: 18px 0 0 3px!important;height: 8px;}
.container { margin:0 20px;}
.content { margin:0 0 20px 0; padding:10px 20px;background:#fbfbfb; 
		 -webkit-box-shadow: 0px 6px 7px -5px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
		  -moz-box-shadow: 0px 6px 7px -5px #ccc;  /* Firefox 3.5 - 3.6 */
		  box-shadow: 0px 6px 7px -5px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */}		  

.clusterDetailsWrapper{ margin:0 0 20px 0; padding:10px 20px;background:#FFFFFF; 
		 -webkit-box-shadow: 0px 6px 7px -5px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
		  -moz-box-shadow: 0px 6px 7px -5px #ccc;  /* Firefox 3.5 - 3.6 */
		  box-shadow: 0px 6px 7px -5px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */}
		  
		  
	.clusterDetailsContLeft {float:left; width:50%}
	.clusterDetailsContRight{float:right;}	  
		  
.clusterDetailsContLeft h1{float:left;}
.clusterStat { float:left; line-height:28px; margin-left:15px; background-position:left -456px; padding-left:8px;}	  
.clusterStat li{float:left; margin-left:10px;padding-left:27px; color:#3e3a3a;font-family: Arial, Helvetica, sans-serif; font-size:15px;}
.clusterStat li span{color:#111;}
.clusterStat li.alertIcon a{color:#ea151d;}
.clusterStat li.alertIcon a:hover{color:#111;}

.serverStat{ float:left; height:28px; line-height:30px;}
.serverStat li{float:left; height:100%; margin-left:10px;font-family: Arial, Helvetica, sans-serif; font-size:15px;}
.serverStat li.activeServerName{ background-position:left -456px; padding-left:15px; color:#76bd1d;}
li#activeServerName{max-width:150px;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.leftShowhide {float:left;}
.rightShowhide { float:right;}
ul.rightShowhideList { margin:0; padding:0; float:left;}
ul.rightShowhideList li { margin:0; float:left; padding:0px 0 0 10px}
ul.rightShowhideList li > a.btn {top:5px; position:relative}
.preBtn{float:right; padding:6px 0 0 10px}
.viewSelect { padding:6px 10px 0 0;}
.viewSelect label { font-weight:bold; font-size:14px;}
.viewSelect select { border: 1px solid #aaaaaa; height: 28px; line-height:28px; width: 150px;}


.graphChart { width:100%;}	
		  
		  
	.chart {overflow: hidden;background:#FFFFFF; height:450px; width:49%; margin-bottom:20px; 
		 -webkit-box-shadow: 0px 6px 7px -5px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
		  -moz-box-shadow: 0px 6px 7px -5px #ccc;  /* Firefox 3.5 - 3.6 */
		  box-shadow: 0px 6px 7px -5px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */}
	.left{float:left;}
	.right{float:right;}  
		  
	.chartHeader { background:#fbfbfb; border-bottom:1px solid #CCCCCC; height:53px; position:relative;}
	.chartHeader h1 {padding:15px 0 0 20px}	 
	.chartHeader span{position:absolute; max-width:150px; display:block; right:20px; text-align:right; top:15px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;} 



/*accordion*/
.menu_list {	
	width:100%;
	margin:0;
	background:#FFFFFF;
}
.menu_head {
	padding: 15px 20px 15px 50px;
	cursor: pointer;
	position: relative;	 
    border-bottom: 1px solid #cccccc;
    
}
.menu_body {
	display:none;
	overflow:hidden;
	padding:20px;
}

.collapsed{background: #fbfbfb url(images/voltdb-icon-sprite.png) 20px -535px no-repeat;}
.expanded{background: #fbfbfb url(images/voltdb-icon-sprite.png) 20px -490px no-repeat;}
.leftShowhide .expanded{ background:#fbfbfb url(images/voltdb-icon-sprite.png) 0px -506px no-repeat;}
.leftShowhide  .collapsed{background:#fbfbfb url(images/voltdb-icon-sprite.png) 0px -550px no-repeat;}
.arrowAdjust {padding: 0px 0 0 26px;
position: relative;
top: 4px;}
  
  
/* Tab */
  
  ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border: 1px solid #ccc;
	border-left: none;
	margin-bottom: -1px;
	background: #e0e0e0;
	overflow: hidden;
	position: relative;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 5px;
	border: 1px solid #fff;
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
	border-top:2px solid #76bd1d;
}	
html ul.tabs li.active, html ul.tabs li.active a:hover  {
	background: #fff;
	border-bottom: 1px solid #fff;
	border-top:2px solid #76bd1d;
}
.tab_container {
	border: 1px solid #ccc;
	border-top: none;
	clear: both;
	float: left; 
	width: 100%;
	background: #fff;
	
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
}
.tab_content h2 {
	font-weight: normal;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ddd;
	font-size: 1.8em;
}
.tab_content h3 a{
	color: #254588;
}

.storeTbl, .dbTbl { margin:5px 0 0 0; padding:0; border:1px solid #CCCCCC;}
.storeTbl th, .dbTbl th { margin:0; padding:0; background:#3f5364; color:#FFFFFF;}
.storeTbl th, td, .dbTbl th,td { padding:10px 25px 10px 10px; border-right:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC;}
td.txt-center{text-align:center;}
.storeTbl tr th:hover, .dbTbl tr th:hover {cursor: pointer;}

.storeTbl tr th {
-webkit-user-select: none; /* webkit (safari, chrome) browsers */
-moz-user-select: none; /* mozilla browsers */
-khtml-user-select: none; /* webkit (konqueror) browsers */
-ms-user-select: none; /* IE10+ */
}
.dbTbl  tr th {
-webkit-user-select: none; /* webkit (safari, chrome) browsers */
-moz-user-select: none; /* mozilla browsers */
-khtml-user-select: none; /* webkit (konqueror) browsers */
-ms-user-select: none; /* IE10+ */	
	
}
 



.footer { background:#1a1a1a; height:75px; margin:22px 0 0 0}
.footer p { text-align:center; padding:37px 0 0 0; color:#FFFFFF;}

.tabs-filter-wrapper{ margin-bottom:10px;}
.tabs-filter-wrapper .filter{ float:left; width:40%;}
.tabs-filter-wrapper .pagination{float:right; text-align:right; border-bottom:1px solid #dbdbdb; padding:10px 0 17px 0; font-size:12px;}
.tabs-filter-wrapper .pagination a{background:#aa1f2f; padding:5px 10px; color:#fff;}
.tabs-filter-wrapper .pagination a:hover{background:#76bd1d;}
.tabs-filter-wrapper .pagination a.prev{ margin-right:5px;}
.tabs-filter-wrapper .pagination a.next{ margin-left:5px;}

.storedProcWrapper{ margin-bottom:20px;}
.dataTablesWrapper{}
.tableTitle{float:left; padding:15px 15px 15px 28px; font-size:13px; font-weight:bold; width:200px;}
.icon-procedures{ background-position:left -986px;}
.icon-tables{ background-position:left -1043px;}
input.search-box{ border:1px solid #dbdbdb; padding:0 5px 0 5px; height:40px; width:200px; color:#a3a3a3; font-weight:bold;}
a.icon-search{ background-position:right -684px; border:1px solid #dbdbdb;line-height: 40px;display: inline-block;padding: 0 4px; width:35px; text-indent:-999em; cursor:default;}
a.save-search{background-position: -10px -1403px;
border: 1px solid #CCCCCC;
line-height: 30px;
display: inline-block;
/* padding: 0 2px; */
width: 33px;
text-indent: -999em;
cursor: pointer;
position: relative;
right: 18px;}

/* Server Popups */
input.icon-search{ background-position:right -684px; border:1px solid #dbdbdb; padding:0 45px 0 5px; height:40px; width:200px; color:#a3a3a3; font-weight:bold;}
a.showServers{ background-position:5px -631px; padding-left:25px; float:left;}
a.hideServers{background-position:5px -587px; padding-left:25px; float:left;}


#popServerList{width:55%; position:absolute; right:100px; top:10px; z-index:999;}
.clusterDetailsWrapper{position:relative;}

.slide-pop-wrapper {background: #fff; border: 1px solid #dbdbdb;}
.slide-pop-title {background-color:#fbfbfb; line-height:42px; padding:4px 4px 4px 15px; border-bottom:1px solid #dbdbdb; font-size:16px; font-weight:bold; color:#3e3a3a;}
.icon-server{ background-position:15px -48px; padding-left:45px;}
.slide-pop-content{background:#fff; color:#484848;}
#serverListWrapper{ padding:15px 0 15px 15px;}
ul.servers-list{ padding-right:20px; margin-bottom:10px;}
.popup_content ul.servers-list{padding-right:0;}
ul.servers-list li{border-bottom:1px solid #dbdbdb; padding:15px 10px 15px 30px;}

.searchLeft {float:left; width:20%}
.searchLeftAdmin { width:10%;}
.searchRight {float:right; }
.search{float:left; padding:0 20px 0 0; }
.search input.icon-search{margin-left:5px;}
.thresholdVal{float:right; text-align:right; font-size:12px; margin-right:10px;}
.thresholdVal input.theVal{border: 1px solid #dbdbdb;height: 35px; width:30px; text-align:center;padding:0 5px; color: #a3a3a3;font-weight: bold; margin:0 3px 0 5px;}

a.setVal{ background:#aa1f2f; color:#fff; padding:10px 8px 11px 8px; font-weight:normal; font-size:14px;}
a.setVal:hover{background:#aa1f2f/*3f5364*/; color:#fff; }

ul.servers-list li.active{ background-position:4px -298px;}
ul.servers-list li.pauseMonitoring {background-position:4px -1458px;}
ul.servers-list li.pauseActiveMonitoring {background-position:4px -1458px;}
ul.servers-list li.joining{ background-position:2px -350px; color:#a3a3a3;}
ul.servers-list li:hover{background-color:#f0f3f4;}
ul.servers-list li.monitoring{background-color:#f0f3f4;}
ul.servers-list li.monitoring a{font-weight:bold;color:#76bd1d;}
ul.servers-list li span.memory-status{float:right; color:#111;}
ul.servers-list li span.alert{color:#ea151d;}
ul.servers-list li a{display:inline-block; padding:4px 0;}
ul.servers-list li a.alertIcon{display:inline-block; padding-left:20px;}

.server-info-heading{ margin-bottom:15px; background:#f0f3f4; font-weight:bold; min-height:50px; line-height:50px;}
.server-info-heading .server{ float:left; display:block; padding-left:10px;}
.server-info-heading .memory-use{ float:right; display:block; padding-right:10px;}

.slide-pop-content .server-info-heading{ margin:15px 15px 0 15px;}
.slide-pop-content .server-info-heading span{color:#111;}


/*************Catalog page************/
.catalogContainer, #rendersCatalogUrl { margin:0 auto; padding:0; width:98%;}
#rendersCatalogUrl .container{ margin:0; width:100%;}
.catalogMenu { background:#FFFFFF; margin:0 0 20px 0;}
ul.catalogNav { margin:0; padding:0; background:#FFFFFF; margin-bottom:20px;}
ul.catalogNav li { float:left; margin:0; padding:0; line-height:50px; font-family: Arial, Helvetica, sans-serif; font-size:16px; border-right:1px solid #CCCCCC;}
ul.catalogNav li a { margin:0; padding:0 10px; color:#32323a; display:block; text-decoration:none;}
ul.catalogNav li a:hover { background:#AA1F2F; display:block; color:#FFFFFF; }
ul.catalogNav li.active a, ul.catalogNav li.active a:hover{background:#76bd1d; display:block; color:#FFFFFF!important;}

.rightCont { width:98%; padding:0 ; margin:0 auto;}
.dataBlock { margin:0 0 20px 0; padding:0; background:#fff; }
.dataBlock h1{font-weight:bold;}
/*.dataBlock table td:nth-child(1) { width: 30%; }*/
#rendersCatalogUrl h3, #rendersCatalogUrl h4 {font:14px Arial, Helvetica, sans-serif; font-weight:bold;}
#catalogContainer h3 { font-weight: bold; font-size:14px;}
#rendersCatalogUrl h4{ background:#fbfbfb; padding:20px;}
#catalogContainer .container {
    margin: 0;
    width: 100%;
}
#catalogContainer h4 {
    background: none repeat scroll 0 0 #fbfbfb;
   /* padding: 20px;*/
   padding: 20px 20px 10px 20px;
}
.dataBlockHeading {background: none repeat scroll 0 0 #fbfbfb;
border-bottom: 1px solid #cccccc;
height: 38px; padding:20px 20px 0 20px}
.dataBlockContent .dataBlockHeading{padding:15px; height:15px;}
.dataBlockContent { padding:20px; }
.dataBlockContent p {font-size:16px;/* line-height:35px;*/line-height:20px;}
.prop a{color:#0079c2; font-weight:bold; font-size:16px;}
.prop a:hover{text-decoration:underline;}

.dataBlock h4 { /*font-size:13px;*/font-size:14px; font-weight:bold;}
.table.table-condensed td {padding: 8px 0 8px 20px; font-size: 13px; }
.sysOverviewContent {}
.table { margin:0; padding:0;}
.table td { margin:0; padding:10px; border-bottom:1px solid #ccc; border-right: none;}
table.table-overview {border:none;}
table.table-overview td{border-top:none;}
table.z-table{border:1px solid #ccc; width:100% !important;}
table.z-table td{ padding:10px; line-height:25px; font-size:14px;}
table.z-table ul li{ list-style-type:disc; list-style-position:outside; margin-left:40px; margin-bottom:5px;}
.documentation{background:#fff; padding:10px 20px;}
.documentation span{float:right; position:relative; top:10px;}
/*a.icon-document{background-position: left -942px; padding-left:20px; font-weight:bold; height:30px; line-height:32px; display:inline-block; width:auto;}*/
a.icon-document{background-position: left -942px; padding-left:20px;
 font-size:13px; font-weight:bold; height:30px; line-height:32px; 
display:inline-block; width:auto;color:#000000;}
a.icon-document:hover{color:#76bd1d;}
#schema, #sqlQuery, #admin{ display:none;}

/*  Overrides bootstrap */
.dataBlock .btn{background:#aa1f2f;}
.dataBlock .btn:hover{background:#76bd1d; color:#fff;}

.well{ background:none; border:none; box-shadow:none;}

code, pre {
padding:10px 5px;
font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
font-size: 12px;
color: #333;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;}

tt, code, kbd, samp {
font-family: monospace;
}

/*table sorting in dashboard*/
table.storeTbl .sorttable_sorted_reverse {
	background-image: url(images/asc.gif);
    background-repeat: no-repeat;
    background-position: right;
}
table.storeTbl .sorttable_sorted {
	background-image: url(images/desc.gif);
    background-repeat: no-repeat;
    background-position: right;
}

/* CSS from old site */
 .invert {
        background-color: #0079BB;
      }
      td.invert>p {
        color: white;
      }
      td.invert>p>a {
        color: #eeeeee;
      }
      .table th.right-cell, .table td.right-cell {
		text-align: right;
      }
      .table th.calculated-cell, .table td.calculated-cell {
        font-weight: bold;
        background-color: #e6ebf0;
      }
      .table th.min-max-header {
        font-size: smaller;
      }
      td.table-view-name {
        font-weight: bold;
      }
      table.size-summary-table {
		border-left: 1px solid #cccccc;
		border-right: 1px solid #cccccc;
		width: 100%;
      }
      input.count-input {
        width: 100px;
        text-align: right;
      }
	  .tableL3 th { font-size:14px!important;}
	  .label, .badge{text-shadow:none !important; padding:3px 5px !important; font-size:11px !important; margin-right:5px !important; font-weight:normal;}
	  
/* Ends Catalog CSS */	  


/* Overlay Popup */
.popup_back {height: 100%;left: 0;position: fixed;top: 0;width: 100%;z-index: 1000;}
.popup_cont {position: fixed;z-index: 1002; margin:0 10px}
.preloader {z-index: 101;}
.popup_close {color: #888;cursor: pointer;position: absolute;padding: 5px;right: 0;top: 0; background-position:3px -796px; height:15px; line-height:15px; width:15px; text-indent:-999em;}
.popup_close:hover {background-position:3px -834px;}
.popup_back {cursor: pointer;background-color: #222;}
div.popup {background: #fff;box-shadow: 0 3px 10px #222;}
.preloader {left: 50%;margin: -10px 0 0 -25px;position: fixed;top: 50%;}

.overlay-title{background:#fbfbfb; height:42px; line-height:42px; padding:4px 4px 4px 20px; border-bottom:1px solid #dbdbdb; font-size:16px;/* font-weight:bold;*/ color:#3e3a3a;}
.overlay-content{ padding:20px; min-width:450px;height:auto; overflow:auto; line-height:18px;}
.graphPop { height:110px; margin-bottom:20px;}
.overlay-btns{ text-align:right; padding:5px 20px 20px 20px;}


.user-preferences li{ padding:0 0 8px 33px; border-bottom:1px solid #ccc; margin-bottom:5px; height:30px; line-height:35px;}
.user-preferences li.last{margin-bottom:0; border:none; padding-bottom:0;}
.user-preferences li input[type='checkbox']{float:right; position:relative; top:8px;}

.msg-pop-info{padding:10px 20px 10px 8px; margin-bottom:20px; font-size:14px; border-left:4px solid #76bd1d; color:#76bd1d; background:#f2f2f2; font-weight:bold; line-height:22px;}
.msg-pop-alert{padding:10px 20px 10px 8px; margin-bottom:20px; font-size:14px; border-left:4px solid #ea151d; background:#f2f2f2; color:#ea151d; font-weight:bold; line-height:22px;}

.pref-graph{background-position: left -882px;}
.pref-storedProc{background-position: left -990px;}
.pref-tables{background-position: left -1050px;}



/* D3 Graph CSS */
.axis path, .axis line{fill: none; stroke: #999; shape-rendering: crispEdges;}        
.axis text{font-family: 'Arial';font-size: 13px;}
.tick{stroke-dasharray: 1, 2;}
.bar{fill: FireBrick;}
.dot { fill: none; stroke: #cc0000; stroke-width: 1.5px;}
.rules line, .rules path {
  shape-rendering: crispEdges;
  stroke: #000;
}

.rules .tick {
}
.rules .minor {
  stroke: #000;
}
.rules .domain {
  fill: none;
}

.grid .tick {
  stroke: #cc0000;
}


/*navigation responsive*/
			
#nav {
position: absolute;
left:250px;
z-index:999;
display:block;
}
#nav ul li {
 margin:0; padding:0; float:left; font:16px/10px Arial, Helvetica, sans-serif; height:42px;
}
#nav ul li a {
  display:block; margin:0; padding:28px 20px 0 20px; color:#000000; border-right:1px solid #CCCCCC; height:42px; text-decoration: none;
}
#nav ul li a:hover {background:#AA1F2F; color:#FFFFFF;}
#nav ul li a.active { background:#76bd1d;color:#FFFFFF;}
#nav a.linkFirst{border-left:1px solid #ccc;}

.toggleMenu{display:none;}
ul.topRightList li.responsiveMenuPlaceHolder{border-left:1px solid #ccc; height:45px; width:45px; display:none;}
ul.topRightList li a {color:#222222!important}
ul.topRightList li a:hover { color: #222222 !important;text-decoration: none !important;}


/* Web Studio CSS */

.containerStudio { margin:0 auto; width:98%; margin-bottom:20px; font-family:Arial, Helvetica, sans-serif; font-size:14px;}
.btnStudio { background:#AA1F2F; padding:5px 10px; border:1px solid #AA1F2F; color:#FFFFFF; cursor:pointer;}
.btnStudio:hover { background:#76BD1D; border:1px solid #76BD1D; color:#FFFFFF;}
.contentQuery {background:#CCCCCC; padding:20px;}
.queryResult { background:#FFFFFF; padding:15px;}

.blockWrapper{background:; margin-bottom:20px;}
.objectExplorer{float:left; width:28%; padding:15px 1%; background:#fff;}
.queryInput{float:right; width:68%;}
#queryForm{ background:#FFFFFF;}
.queryInput .query textarea{width:98%; padding:1%; resize:none!important; height:186px;border: 1px solid #CCCCCC;line-height:25px; font-size:18px;}
.queryInput .query textarea:focus{outline:none;}
.textWritingArea { padding:13px;}
.btnList { margin:10px 0 0 0; padding:0; float:right;}
.btnList li { margin:0; padding:0 10px 0 0 ; float:left;}

.blockWrapper h1.theHeading{margin: 0 0 1.5px 0!important;
padding: 17px 20px 17px 45px;
background-color: #FFFFFF;
-webkit-box-shadow: 0px 6px 7px -5px #ccc;
-moz-box-shadow: 0px 6px 7px -5px #ccc;
box-shadow: 0px 6px 7px -5px #ccc;}

.queryStatus{ padding:10px; background:#f2f2f2; border-bottom:1px solid #ccc; color:#333;}
.ui-accordion{font-size:14px; line-height:18px;}
.ui-accordion li{font-size:12px; margin-bottom:5px;}
h3.ui-accordion-header{padding:8px 5px 8px 23px; margin-bottom:5px!important; font-weight:bold; font-size:12px; border-bottom:1px solid #f2f2f2; width:auto; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
h3.ui-accordion-header:focus, h3.ui-accordion-header:active{outline:none;}
h3.ui-accordion-header:hover{cursor:pointer;}
.ui-accordion-content{border:1px solid #f2f2f2; padding:10px; margin-bottom:15px; height:auto !important;}
h3.ui-accordion-header, h3.ui-accordion-header-active, h1.icon-query, h1.icon-queryResult{background-image:url(images/voltdb-icon-sprite.png); background-repeat:no-repeat;} 
h3.ui-accordion-header{background-position:8px -1185px;background-color:#f2f2f2;}
h3.ui-state-hover{background-color:#e9e9e9;}
h3.ui-state-active{background-position:8px -1214px; margin-bottom:0;background-color:#76bd1d; color:#fff;}
h3.ui-state-active:hover{ background-color:#76bd1d;}

h1.icon-query{background-position:15px -1252px;}
h1.icon-queryResult{background-position:15px -1039px;}

.exportType{float:right; position:relative; top:10px; right:15px;}
.exportType select{padding:5px;}

.resultHtml, .resultCsv, .resultMonospace{width:100%; overflow:auto;height:400px;}
.queryResult pre{line-height:20px;}
#overlay, #adminActionOverlay{ position: fixed;height: 100%;width: 100%;bottom: 0;background: rgba(0, 0, 0, 0.3);z-index: 9999;}
.loading{ background: #fff url(images/loader.GIF) no-repeat center center;height: 75px;width: 75px;margin: 20% auto;}
.loading-small{ background: #fff url(images/loader-small.GIF) no-repeat center center;height: 20px;width: 20px;
                position: absolute;top: 11px;left: 102px;}

.imgError {position: relative;top: 5px;padding: 0 5px 0 0;}
.overlay-contentError {padding: 20px;
border-bottom: 1px solid #dbdbdb;
margin-bottom: 15px;
min-width:200px;
overflow: auto;}
.errorMsg { max-width: 300px;}
.errorMsg p {padding: 0 0 10px 0;}
.errorIcon {background:url(images/error.png) no-repeat 10px 12px;text-indent:20px;}
.tablesorter-bootstrap .tablesorter-header-inner {
padding: 4px 4px 4px 4px!important;
}



#schema table.tablesorter th { padding-right:10px!important;}

/*.tablesorter-bootstrap .tablesorter-header i {
right: -31px!important;
}*/

.dataBlockContent.systemOver table td:nth-child(1) {
    width: 34.6%;
}

/************help******************/
.VDBMonitorHelp { height:500px; overflow:auto; } 
.helpStyleButton {
   color: white;
   background-color: #AA1F2F;
   padding: .3em;
   font-family: sans-serif;
   font-size: 95%;
}
h2.help {font: bold 15px Arial, Helvetica, sans-serif;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ddd;
	}
.VDBMonitorHelp p { line-height:20px;font:15px  Arial, Helvetica, sans-serif;}
.helpStyleTitle { font-weight:bold;}
ul.helpList {}
ul.helpList li { list-style:disc; line-height:20px!important; padding:0; margin:0 0 0 20px; font:15px  Arial, Helvetica, sans-serif}
.VDBSchemaHelp {}
.VDBSchemaHelp p { line-height:20px;font:15px  Arial, Helvetica, sans-serif;}
ul.helpSchemaList {}
ul.helpSchemaList li { list-style:disc; line-height:25px!important; padding:0; margin:0 0 0 20px; font:15px  Arial, Helvetica, sans-serif} 
.VDBQueryHelp {}
.VDBQueryHelp p { line-height:20px;font:15px  Arial, Helvetica, sans-serif;}

/**admin**/
.adminIcons, 
.pause, 
.resume, 
.save,
.saveme, 
.promote, 
.promote-disabled,
.restore, 
.stop,
.shutdown,
.disableServer,
.startServ, 
.onIcon, 
.offIcon,
.restoreConfirmationDisable, 
.edit,
.editDisabled,
.arrow, 
.labelCollapsed, 
.labelExpanded,
a.restoreConfirmationDisable { background-image:url(images/admin-icons.png);}
label.error { color: #c70000; width: auto; display: block; line-height: 0px; font-size: 11px; padding: 10px 5px 0 7px; margin: 0 0 6px 0; height: 10px;}

.adminWrapper{ margin:0; padding:15px 20px;background:#FFFFFF; border-bottom:1px solid #CCCCCC;}
		  
.adminLeft { float:left; width:63%;}
.adminLeft h1 { float:left; padding-right:20px;}
.adminClusterProperties { /*float:left;*/}
ul.adminClusterList { margin:0; padding:0; /*width:366px;*/ height:40px;}
ul.adminClusterList li { margin:0; padding:0; float:left; width:50px; height:100%; line-height:75px; text-align:center; margin-right:5px;}
ul.adminClusterList li a{display:block;}
ul.adminClusterList li a.pause { display:inline-block; background-position:-20px -106px; width:40px; height:36px;}
ul.adminClusterList li a.resume { display:inline-block; background-position:-20px -151px; width:40px; height:36px;}
ul.adminClusterList li a.promote { display:inline-block; background-position:-70px -12px;width:40px; height:36px;}
ul.adminClusterList li a.promote-disabled, ul.adminClusterList li a.promote-disabled:hover{ display:inline-block; background-position:-70px -56px;width:40px; height:36px; color:#bbb;}
ul.adminClusterList li a.restore, ul.adminClusterList li a.restoreConfirmationDisable { display:inline-block;background-position:-120px -12px; width:40px; height:36px;}
ul.adminClusterList li a.saveme { display:inline-block;background-position:-120px -57px; width:40px; height:36px;}
.save { display:inline-block;background-position:-313px -57px; width:40px; height:26px;}

ul.adminClusterList li a.restoreConfirmationDisable {display: inline-block;  width:40px; height:36px; background-position:-310px -12px; color:#bbb;}

ul.adminClusterList li a.stop { display:inline-block;background-position:-580px -12px; width:40px; height:36px;}
ul.adminClusterList li a.shutdown{ display:inline-block;background-position:-739px -56px; width:40px; height:36px;}
/*ul.adminClusterList li a:hover{color:#000;}*/
.adminTxt01 { margin:0 0 0 6px;}
.adminTxt02 { margin:0 0 0 2px;}
.adminTxt03 { margin:0 0 0 3px;}
.adminTxt04 { margin:0 0 0 11px;}

.adminRight { float:right; padding-top:5px}		
.adminMode { float:left; margin:0 10px 0 0;}
.adminM { float:left;background:#dfdfdf; padding:8px; font-weight:bold;}
.adminD {float:left;background:#c70000; color:#FFFFFF; padding:8px; font-weight:bold;}  
.adminE {float:left;background:#76bd1d; color:#FFFFFF; padding:8px; font-weight:bold;} 
.downloadConfig { float:left; margin:0 5px 0 0; } 
.btnDown {cursor: pointer;float: left;background: #D0D2D2;padding: 8px;font-weight: bold;}
.adminServer { float:left;}
.serverName {  /*cursor:pointer; float:left; background:#D0D2D2; padding:8px; font-weight:bold;*/
			background: none repeat scroll 0 0 #d0d2d2;
			cursor: pointer;
			float: left;
			font-weight:
			bold;height: 28px;
			line-height: 28px;
			padding: 0 0 0 8px;

			} 
.setServer {/*float:left;*/ float:right;}
.adminIcons { /*background-position:-225px -13px; width:30px; height:28px;*/ background-position: -225px -14px;height: 28px; width: 30px;}
.adminContainer { margin:0; padding:20px 0; font-size:13px;}
.adminContentLeft { float:left; width:49%; background:#FFFFFF; margin:0 2% 0 0 }
.adminContentRight { float:left;width:49%;}
.headerAdminContent {height:53px;position: relative; background:#fbfbfb; border-bottom:1px solid #aaa;}
.adminDirectories { background:#FFFFFF; margin:20px 0 0 0;}
.adminDirect{overflow:auto; width:auto;}
.headerAdminContent h1 {padding: 18px 0 0 20px; font-size:17px;}
.adminPorts { margin:0 0 10px 0; background:#FFFFFF;}
.adminTbl { margin:0; padding:0;}
.adminTbl1 tr td { margin:0; padding:2px 2px 2px 2px; border-left:none; border-right:none; line-height:38px; /*height:32px;*/}
.adminTbl2 tr td { margin:0; padding:15px 25px 15px 20px; border-left:none; border-right:none;}
.adminTbl1 tr td a.save {position:relative;top:4px}

.onIcon			 { background-position: -266px -58px; width: 31px; height: 17px; position:relative; top:4px;}
.offIcon 		 { background-position:-266px -106px; width: 31px; height: 17px; position:relative; top:5px;}
.edit 			 { background-position: -226px -64px; width: 31px; height: 17px; display:inline-block; position:relative; top:-3px;}
.editDisabled   {background-position: -362px -17px; width: 31px; height: 17px; display:inline-block; position:relative; top:-3px;cursor: default;}
.editDisabled:hover{ cursor: default;}
.arrow 			 { background-position: -316px -102px;width: 10px; height: 17px}
.adminTbl1 tr td.configLabel{ padding-left:35px; font-weight:bold; white-space:nowrap;}
.tblshutdown tr td.configLabel a { font-weight:bold;}
.adminTbl1 tr.hasSubLabel td.configLabel{ padding-left:15px; font-weight:bold;}
.adminTbl1 tr.subLabelRow td.configLabel{padding-left:40px; font-weight:normal;}
.adminTbl1 tr.subLabelRow td.configLabe2{padding-left:60px; font-weight:normal;}
.propertiesTbl { margin: 0 !important;padding: 0 !important;font-size: 12px;}
.propertiesTbl tr td { padding:0 0 0 60px}
.propertiesTbl tr.propertyLast td {border-bottom: none;}

.adminTbl1 td .edit, .adminTbl1 td .editDisabled {top:9px;}
.hasSubLabel{} 
.labelCollapsed{ background-position:-422px -11px; padding-left:22px;}
.labelExpanded{ background-position:-422px -55px; padding-left:22px;}
.adminTbl2 tr td:nth-child(1){font-weight:bold;}

.adminWrapper{position:relative;}
#btnServerConfigAdmin:hover{cursor:pointer;}
#serverConfigAdmin{ position:absolute;right:20px; top:49px; z-index:99; width:500px;}
.txt-bold{font-weight:bold;}
.directoryRestore { margin: 0;padding: 0;}
.restoreSnapshot { position: relative;top: -1px;}



.btn-gray { background-color:#999; cursor:pointer; padding:8px 10px; text-align:center; color:#fff; font:14px Arial, Helvetica, sans-serif; text-shadow:none; text-decoration:none; border-radius:0; border:none;} 
input.exitableTxtBx{width:35px; /*position:relative; top:6px;*/ padding:2px 3px;}
input.exitableFilePrefix{width:155px; /*position:relative; top:6px;*/ padding:2px 3px;}
.tblSave { border:none}
.tblSave tr{border:1px solid #CCCCCC;}
.tblSave tr td { padding:10px;border:none;}
.tblSave tr td input[type="text"]{ width:267px; padding:6px 4px 7px 4px;}
.tblRestore th {}
.tblRestore tr td input[type="text"]{ width:185px; padding:6px 4px 7px 4px;}
.restoreCont {overflow:auto; height:200px}
.restoreTxt {border: 1px solid #CCCCCC;padding: 9px; /* margin: 1px 0 0 0; */ position: relative; top: 2px;}
.browseBtn {}
.tblRestore { border:none}
.tblRestore tr{border:1px solid #CCCCCC}
.tblRestore th { padding:10px; font-weight:bold;}
.tblRestore tr td { padding:10px 5px;border:none;}

/*a.serverHighlight {color:#76bd1d;}*/
.stopDisable { color: #aaaaaa!important;}
.tblshutdown tr {border:1px solid #CCCCCC;}
.tblshutdown tr:hover, .tblshutdown tr.activeHost { background: #F0F3F4}
.tblshutdown tr.activeHost td a { color:#76bd1d;}


.tblshutdown tr td  { border:none;}
.tblshutdown tr td a.shutdown { display:inline-block;background-position:-740px -105px; width:40px; height:36px;line-height:39px; }
.tblshutdown tr td a.disableServer { display:inline-block;background-position:-933px -150px; width:40px; height:36px;line-height:39px; }
.tblshutdown tr td a.startServ { display:inline-block;background-position:-669px -56px; width:40px; height:36px;line-height:39px; }
.tblshutdown tr td a.resume{display: inline-block;background-position: -20px -151px;width: 40px;height: 36px;line-height: 39px;}
.shutdownServerPause {position: relative; top: 17px; right:3px; color: #cccccc;}
td.pauseCursorDefault a{cursor: default;}
.shutdownServer { position:relative; top:17px; right:2px;}
.startServer { position:relative; top:17px; right:2px;}
.disableServer { cursor: default;}
#serverListWrapperAdmin{ padding:15px 16px 0 15px;}
#serverListWrapperAdmin table.tblshutdown{margin-bottom:30px;}
.confirmationInfo{font-weight: bold;}
td.heartbeattd, td.securitytd, td.queryTimeOut, td.tdSnapshotPrefix,td.tdSnapshotFrequency,td.tdSnapshotRetained, td.snapshottd { position: relative;}
td.heartbeattd span, td.queryTimeOut span{position:relative; top:auto;}
td.heartbeattd span.unit, td.queryTimeOut span.unit{position:relative;/* top:7px;left:1px;*/}
.customCheckbox{display:inline-block !important;}

.btnSave { background-color: #aa1f2f;
			cursor: pointer;
			padding: 4px 8px;
			text-align: center;
			color: #FFFFFF;
			font: 12px Arial, Helvetica, sans-serif;
			text-shadow: none;
			text-decoration: none;
			border-radius: 0;
			border: none;
			margin-left: 10px;} 
.btnSave:hover{background-color:#76bd1d; color:#fff;}
.editOk, .editCancel { background-color:#aa1f2f; cursor:pointer; padding:4px 6px; text-align:center; color:#FFFFFF; font:12px Arial, Helvetica, sans-serif; text-shadow:none; text-decoration:none; border-radius:0; border:none;}
.editOk:hover, .editCancel:hover{background-color:#76bd1d; color:#fff;}

.editOk, .editCancel {
    display: none;
}
.restoreInfo .overlay-content { }
.overviewTbl {overflow:auto; width:auto}
.overviewTbl table td{white-space:nowrap !important}
.confirmationHeight { height:auto!important;}
.snapshotErrorMsg { padding-bottom: 15px;}
.snapshotStatusBar {    padding: 10px; width:171px; background: rgba(78, 141, 181, 1);
                        color: #FFFFFF;
                        font-weight: bold;
                        margin: 3px 0 0 0;
                        position: fixed;
                        left: 44%;
                        top: 14.5%;
                         z-index: 1;
                        font-size: 12px;

}
.errorLabelMsg { width: 279px;margin-top: 5px; }
.errorLabelMsgRestore { width: 196px;margin-top: 5px; }

.resizeCon {width:452px}
.resizeRestore{width:95%}
a.restoreBtn { cursor: default; background-color: #999;
padding: 8px 10px;
text-align: center;
color: #fff;
font: 14px Arial, Helvetica, sans-serif;
}


/*********************************************media Qu********************/
@media (max-width: 479px) {
.serverStat {float:none; clear:left;}
.userN {display:none;}
.displayPre { height:100px;}
ul.rightShowhideList { float:none;}
  
ul.rightShowhideList li {padding:10px 0;}/*admin*/
#popServerList{ position:absolute;right:0;top: 186px;}


.overlay-content { min-width:250px;}
}
@media (min-width: 639px) and  (max-width:640px)
 {
#serverConfigAdmin{ top:100px;}	/*admin*/
	
	 }
@media (max-width: 699px) {
	
ul.topRightList li.responsiveMenuPlaceHolder{display:block;}
#toggleMenu{display:block; background-position:2px -1106px; text-indent:-999em; padding:5px; color:#fff; position:absolute;top:20px; right:16px; height:15px; width:25px;}
#toggleMenu:hover{cursor:pointer; background-position:2px -1146px;}
#nav a.linkFirst{border-left:none;}
#nav{display:none;}
#popServerList{width:330px; }
  #nav {
    width: 100%;
    top: 65px;
	left:0;
	z-index:9999;
  }
  input.search-box { width:166px;}
  .chart {width:100%;}
  .tblScroll { overflow:auto; width:100%; }
  .search { float:none;}
  input.icon-search { width:80%;}  
  #nav ul {
    background: #435464;
    width: 100%;	
  }
  #nav ul li {
    float: none;
	
  }
  #nav ul li a {
    padding: 10px 3%;
    line-height: 20px;
    border-top: 1px solid #333;
	color:#FFFFFF;
	height:20px;
	border-right:none;
  }
  #nav ul li a:hover {background:#AA1F2F}
  
  .clusterStat { background-image:none!important; float:left; width:100%; line-height:28px; margin-left:15px; background-position:left 87px; padding-left:8px;}	
  .clusterStat li{ color:#3e3a3a;font-family: Arial, Helvetica, sans-serif; font-size:15px;}
  
  .tabs-filter-wrapper .filter { float:right; width:auto;} 
  .tabs-filter-wrapper .pagination {clear:left; float:left; margin-top:15px;}
  
  
ul.catalogNav { margin:0 0 20px 0; }  
ul.catalogNav li { float:none; background:#FFFFFF; margin:0; padding:0; line-height:50px;  font-family: Arial, Helvetica, sans-serif; font-size:16px; border-bottom:1px solid #CCCCCC;}
ul.catalogNav li a { margin:0; padding:0 10px; color:#32323a; display:block; text-decoration: none;}
ul.catalogNav li a:hover { background:#AA1F2F; display:block; color:#FFFFFF; }
ul.catalogNav li.active a, ul.catalogNav li.active a:hover{background:#76bd1d; display:block; color:#FFFFFF!important;}

.documentation span { float:left; padding-bottom:20px} 

.objectExplorer { float:none; width:94%; margin-bottom:15px; padding:3%;}
.queryInput { float:none; width:100%;}
.tblScroll {overflow:auto; width:100%}
.adminContentLeft { width:100%}
.adminPorts { margin-top:10px;}
.adminContentRight {width:100%;}
.parameterValue{ }
.returnValue{ color:#0079bb;}
.errorValue{color:red}

h3.systemHeader{}
.editOk, .editCancel { background-color:#aa1f2f; cursor:pointer; padding:4px 6px; text-align:center; color:#FFFFFF; font:12px Arial, Helvetica, sans-serif; text-shadow:none; text-decoration:none; border-radius:0; border:none;}
.editOk:hover, .editCancel:hover{background-color:#76bd1d; color:#fff;}
.editOkIcon {}
.editCancelIcon {}
.restoreRadio {border: 1px solid #CCCCCC;padding: 8px 9px 9px; /* margin: 1px 0 0 0; */ position: relative; top: 2px; width:13px;}
ul.okCal { margin:0; padding:0;}
ul.okCal li {margin:0;
padding: 6px 2px 0 0;
float: left;
display: inline-block;
position: relative;
top: 3px;}



	
	.documentation span {float:right}
	.adminLeft { float:none; width:100%;}
	.adminRight{ padding-top:15px;}	
}

@media (min-width: 480px) and  (max-width:540px) {
	#popServerList {width:100%;position: absolute;right:0;top: 160px;}
	.overlay-content { min-width:320px;}
	 .adminMode {margin-top:10px}
	.adminServer {}
	.adminLeft { float:none; width:100%}
	#serverConfigAdmin{ top:99px; width:421px;}
	.adminRight{ padding-top:15px;}
	.adminDirectories {overflow:auto; width:auto;}
	
   
}
@media (min-width: 320px) and (max-width: 479px) {
    #popServerList {
        width: 100%;
        position: absolute;
        right: -1px;
        top: 205px;
    }

    .rightShowhideList li a {
        margin: 0 0 0 46px;
    }

    .popup_cont {
        margin: 0 0 0 9px;
        width: 305px;
    }

    #loginBox {
        width: 305px;
    }

        #loginBox input[type=text], #loginBox input[type=password] {
            width: 160px;
        }

    .VDBMonitorHelp {
        height: 250px;
        overflow: auto;
    }

    .VDBSchemaHelp {
        height: 250px;
        overflow: auto;
    }

    .VDBQueryHelp {
        height: 250px;
        overflow: auto;
    }

    .adminMode {
        margin-top: 10px;
    }

    .adminServer {
    }

    .adminClusterProperties {
        float: left;
        margin: 10px 0;
    }

    .overviewTbl {
        overflow: auto;
        width: auto;
    }

    .adminLeft {
        float: none;
        width: 100%;
    }

    ul.adminClusterList {
        width: 250px;
    }
        /*admin*/
        ul.adminClusterList li {
            margin: 0;
            padding-top: 15px;
            float: left;
            width: 67px;
            height: 100%;
            line-height: 75px;
        }
    /*admin*/
    #serverConfigAdmin {
        top: 214px;
        width: 261px;
    }

    .restoreCont {
        overflow: auto;
        height: 146px;
    }

    .restoreInfo .overlay-content {
        height: auto;
    }

    ul.adminClusterList {
        float: none;
    }

    .snapshotStatusBar {
        float: right;
        width: 100%;
        margin: 20px 0 0 0px;
        position: relative;
        left: 27px;
    }

    .resizeCon {
        width: 280px;
    }

    .resizeRestore {
        width: 90%;
    }
	
}

	 
 @media (min-width: 480px) and (max-width: 700px) {
		 .adminRight{ padding-top:15px;}
		 #serverConfigAdmin{ top:99px;}
         .resizeCon {width:330px}
        .resizeRestore{width:80%}
		 
 }

@media (width: 320px) {

 input.icon-search { width:182px;}
 
  input.icoSS { width:135px!important;}
  .restoreCont {overflow:auto; height:146px}
   .adminServer { }	
  .adminLeft { float:none; width:100%}	
 
 }
@media screen and (orientation:landscape) {
	.popup_cont {top:5%;}
	
	 }
	 
	 @media screen and (orientation:landscape) {
		 
		.overlay-content {/*height: 150px;*/height:20%;}
		.graphPop { height:110px; margin-bottom:20px;}
		/*.restoreInfo .overlay-content { height:200px;}
		.restoreCont {height:200px;}*/
		
		
		 }
		 @media  (min-width: 480px) and (max-width: 640px) and (orientation:landscape) {
			 
			 .restoreInfo .overlay-content { height:120px;}
			 .restoreCont {height:120px;}
			 }
		 
@media (min-width: 480px) and (max-width: 1024px) and (orientation:landscape)   {		 
		.VDBMonitorHelp { height:150px;  }
		.VDBSchemaHelp { height:150px; overflow:auto;}
		.VDBQueryHelp { height:150px; overflow:auto;}
		
			

}
 


